body {
  /*background-color: lightgrey;*/
  text-align: center;
}

.head {
  color: red;
  padding-top: 1em;
  letter-spacing: .25;
}

.link {
  color: grey;
  font-size: 1.5em;
  padding-top: 1em;
  display: inline-block;
}

.about {
  padding-top: 4em;
}

.results {
  padding-top: 1em;
}

.container {
  padding-top: 1em;
}

a {
  color: grey;
}

#btn {
  color: white;
  background-color: red;
}
